*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(252, 252, 252);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li{
    list-style: none;
    display: inline;
}

nav a{
    text-decoration: none;
    margin: 15px;
    color: black;
}

nav h1{
    color: rgb(235, 203, 161);
    margin-left: 20px;
}

nav .boy{
    border: 2px solid rgb(240, 207, 163);
    padding: 10px;
    background-color:  rgb(240, 207, 163);
}

header{
    text-align: center;
    background-image: url(flower.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
}


header div p{
    width: 100%;
    margin-left: 0px;
}

header div{
    border: 6px solid white;
    background-color: white;
    margin: 0px 450px;
    padding-top: 150px;
    
    
}

header div h1{
    margin-bottom: 20px;
    font-size: 40px;
}
header
header div h4{
    margin-bottom: 15px;
    color: rgb(235, 203, 161);
    font-size: 20px;
}

main{
    margin-top: 70px;
}

main .guy{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main img{
    width: 200px;
    height: 200px;
}

main p{
    width: 80%;
    margin-left: 50px;
}

main h1{
    text-align: center;
    margin-bottom: 50px;
}

main h3{
    color: rgb(235, 203, 161);
    margin-top: 20px;
    margin-bottom: 20px;
}

main a{
    text-decoration: none;
    color: black;
}

main button{
    color: white;
    padding: 10px;
    border: 2px solid white;

}

.bon img{
    width: 1600px;
    height: 300px;
    margin-top: 50px;
}

article .man{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


article{
    margin-top: 50px;
}

article h1{
    text-align: center;
}

article p{
    width: 80%;
    margin-left: 80px;
    margin-top: 20px;
}

article h3{
    color:  rgb(235, 203, 161);
    margin-top: 40px;
}

.lol{
    margin-top: 80px;
    background-image: url(ring.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.lol div{
    text-align: center;
    margin-top: 60px;
    padding-top: 150px;
}

.lol button{
    margin-top: 30px;
    border: 2px solid white;
    background-color: white;
    padding: 10px 40px;
}

.lol h1{
    color: white;
    font-size: 50px;
}

.lol a{
    text-decoration: none;
    color: black;
}

footer{
    background-color: rgb(29, 6, 6);
    padding-top: 50px;
}

footer .PP{
  display: flex;
  justify-content: space-around;
  align-items: center;   
}

footer h1{
    color: white;
}

footer h4{
    text-align: center;
    margin-top: 30px;
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
    line-height: 1.5;
}

footer li{
    list-style: none;
}

 
@media only screen and (max-width: 850px){
 nav{
    flex-direction: column;
 }   

 nav ul li{
    display: none;
 }

 header div{
    padding-top: 100px;
    margin: 0;
 }

 header{
    height: 100vh;
 }

 main .guy{
    flex-direction: column;
    margin-top: 30px;
 }

 main .guy div{
    margin-top: 50px;
 }

 .bon img{
    width: 100%;
 }

 article .man{
    flex-direction: column;
}

article p{
    margin-left: 50px;
}

.lol{
   height: 80vh;
}

footer .PP{
   flex-direction: column;
}

footer h1{
    margin-bottom: 40px;
    margin-right: 30px;
}
}